<style type="text/css">
   body { background: #f8f9fa !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/listings/index"><strong>Super Sweet Japanese Tuner Cars For Sale</strong></a>
  <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline'} do |f| %>
    <%= f.input :title, class: "form-control mr-sm-2", input_html: {value: ""} %>
    <%= f.submit "Search", class: "btn btn-secondary my-2 my-sm-0" %>
  <% end %>
</nav>
<div class="container-fluid bg-light">
<h2><%= @model.name %></h2>


<ul>
<% model_listings = [] %>
<% @provinces.each do |province|%>
  <h4><%= link_to province.name.humanize, province.name %></h4>
  <% @listings.each do |listing| %>

    <% model_listings.append listing if listing.model.name.downcase == @model.name.downcase %>
    <% end %>
    <% model_listings.each do |listing| %>
    <% if province.name.eql?(listing.province.name) %>
    <li>
    <strong>Model: </strong>
    <%= link_to listing.title.humanize, listing %>
    </p>
    </li>
    <% end %>
  <% end %>
  </ul>
  <hr>
<% end %>
</div>